*{
    margin: 0;
    padding: 0;
    background-color: burlywood;
}
.Header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Header h1{
    border: solid 3px;
    margin-left: 30px;
    padding: 5px;
    color: aqua;
}
.Header ul{
    list-style: none;
    display: flex;
    margin-right: 0px;
    padding-right: 0px;
}
.Header ul li{
    padding: 10px;
    cursor: pointer;
    color: aqua; 
}
.Content{
    width: 100%;
}
.Content h1{
    padding: 10px;
    color: darkred
}
.Content ol{
    align-items: center;
}
.Content ol li{
    margin: 10px;
    margin-left: 25px;
    padding: 5px;
    color: white;
}
.Footer{
    width: 100%;
    margin: 0;
    margin-top: 138px;
    padding: 10px;
    text-align: center;
    border: solid gray;
    background-color: gray;
}
.Footer small{
    background-color: gray;
    color: white;
}
